.hero {
  height: 100vh;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/toronto.jpg");
  background-size: cover;
  background-position: bottom;
  text-align: center;
}

.hero-title {
  font-size: 7.2vw;
  margin-left: -60px;
  @include media(palm) {
    font-size: 38px;
    margin-left: 0;  
  }
}

.hero-subtitle {
  font-size: 3vw;
  text-align: right;
  margin-top: 10px;
  margin-right: -60px;
  @include media(palm) {
    font-size: 22px; 
    margin-right: 0; 
  }
}