@mixin media($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoints}`. " + "Please make sure it is defined in the `$breakpoints` map.";
  }
}

// USE LIKE THIS:

// >= 600px
// @include media(palm) {}

// >= 1023px
// @include media(portable) {}

// 601px to 1366px
// @include media(lap) {}

// 1024px +
// @include media(desk) {}



